:root {
  /* colors  */
  --main-color: #0000ff;
  --btn-color: #ffac00;
  --main-bg-color: #fff;
  --secodary-bg-color: #ecf2f6;

  /* fonts  */
  --normal-font-size: 1.125rem;
  --subheading-font-size: 2.188rem;

  --subheading-font-size2: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* global styles start  */
html {
  font-size: 100%;
}
body {
  background: var(--main-bg-color);
  overflow-x: hidden;
  padding-bottom: 6.4rem;
}

h2,
h4,
h5,
p,
.card,
.card-body,
.card-title {
  margin-bottom: 0;
}

.button {
  background: var(--btn-color);
  width: 100%;
  padding: 1.1rem;
  box-shadow: #ffaa008b 0px 8px 24px;
  border: none;

  &:hover {
    background: var(--btn-color);
  }
}

.proposal-part,
.best_trainers,
.benifits_section,
.you_learn_section,
.process_section,
.helful_for,
.examples_section,
.bonus_section,
.trainers_section,
.recap_section,
.stories_section,
.guarantee_section,
.faq_section {
  padding: 4.625rem 8.5rem 2.625rem 8.5rem;
}

.points {
  padding-bottom: 1.5rem;
}

.point {
  font-size: var(--normal-font-size);
  background: var(--main-bg-color);
  padding: 0.8rem 1rem;
  font-weight: 500;

  i {
    font-size: 1.5rem;
    color: var(--main-color);
  }
}

.sub_title_container {
  h2 {
    font-size: var(--subheading-font-size);

    span {
      color: var(--main-color);
    }
  }

  .bars {
    .bar1 {
      width: 1.25rem;
      height: 0.25rem;
      background: #a3a3a3;
    }

    .bar2 {
      width: 3.188rem;
      height: 0.25rem;
      background: var(--main-color);
    }
  }
}
/* global styles start  */

/* hero section styling start */
.hero_section {
  padding: 1.5rem 0 8.8rem 0;
}

.proposal-part {
  padding: 0 8.5rem;
  .offer_card {
    width: 30rem;
    background: var(--main-color);
    padding: 0.9rem 0;
    box-shadow: #0000ff37 0px 8px 24px;

    h4 {
      line-height: 1.9rem;
      font-size: 1.438rem;

      &:first-child {
        font-weight: 400;
      }

      &:last-child {
        font-weight: bolder;
      }
    }
  }
}

.proposal-part .title h2 {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 2.563rem;
  line-height: 3rem;
}

.proposal-part .webinar_details {
  .first_col {
    padding-right: 2rem;
  }

  .first_col .img_part {
    img {
      width: 100%;
      height: auto;
    }

    .coaches_message h2 {
      font-weight: bold;
      color: var(--main-color);
    }
  }
}

.proposal-part .webinar_details .second_col {
  padding-left: 2.3rem;
  .details_part {
    background: var(--secodary-bg-color);
    height: fit-content;
    padding: 1.5rem 1.5rem 0rem 1.5rem;
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    -ms-border-radius: 1.2rem;
    -o-border-radius: 1.2rem;

    .points .point {
      font-weight: 400;
    }
  }

  .enrollment_msg {
    h5 {
      font-size: 1.4rem;
      font-weight: 600;
    }
    p {
      font-weight: 500;
    }
  }
}

.proposal-part .timer_container .timer :where(.min_box, .sec_box) {
  background: var(--secodary-bg-color);
  padding: 1.2rem 1.4rem;
  color: var(--main-color);
  border: 1.5px solid #d0d0ffdd;

  h2 {
    font-weight: bold;
    font-size: 2.2rem;
  }
  p {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
  }
}

.componies {
  width: 80%;
  height: 6.8rem;
  padding: 2rem;
  box-shadow: #0000ff20 0px 8px 24px;
  background: #fff;
  overflow-x: hidden;
  border-radius: 1.3rem;
  -webkit-border-radius: 1.3rem;
  -moz-border-radius: 1.3rem;
  -ms-border-radius: 1.3rem;
  -o-border-radius: 1.3rem;
}

.swiper-wrapper .swiper-slide {
  width: 140px;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

/* hero section styling start */

/* world best trainers section start  */
.best_trainers {
  background: var(--secodary-bg-color);
  padding-top: 8.25rem;
  padding-bottom: 4.625rem;
}

.best_trainers .trainers_container {
  .row .col .trainer {
    background: var(--main-bg-color);
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    border-bottom: 4.5px solid var(--main-color);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;

    .profile {
      background: var(--secodary-bg-color);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
    p {
      font-weight: 600;
    }
  }
}

/* world best trainers section end  */

/* benifits section styling start  */

.benifits_section .btn_container {
  width: 100%;
  padding: 0 1rem;

  .button {
    width: 58%;
  }
}

.benifit_points,
.helpful_for_points {
  width: 58%;

  .point {
    font-size: var(--normal-font-size);

    i {
      font-size: 1.3rem;
    }
  }
}

/* benifits section styling end  */

/* you learn section styling start  */
.you_learn_section {
  background: var(--secodary-bg-color);
}

.learning_points .row .point {
  font-size: 1.135rem;
}
/* you learn section styling end  */

/* process section styling start  */
.process_section .process_container {
  .row {
    .col {
      padding: 0;
    }
    .col .process {
      background: var(--secodary-bg-color);
      /* width: 22.3rem; */
      width: 90%;
      height: 7rem;
      display: flex;
      align-items: center;
      column-gap: 1.3rem;
      border: 1.5px solid #d0d0ffdd;
      border-radius: 1.2rem;
      -webkit-border-radius: 1.2rem;
      -moz-border-radius: 1.2rem;
      -ms-border-radius: 1.2rem;
      -o-border-radius: 1.2rem;
    }

    .col .Arrow{
      width: 10%;

      img{
        rotate: -90deg;
      }
    }

    h5 {
      font-weight: 600;
    }
  }
}

.arrow, .arrow img{
  display: none;
}

.process_section .process_container .row :where(.col:nth-child(3), .col:nth-child(6)) .process {
    width: 100%;
  }

  .process_section .process_container .row :where(.col:nth-child(3), .col:nth-child(6)) .Arrow{
    width: 5%;
  }

.process_section .btn_container .button {
  width: 35%;
  padding: 1.2rem;
  font-size: 1.3rem;
}
/* process section styling end  */

/* helpful for section styling start  */
.helful_for {
  background: var(--secodary-bg-color);

  .helpful_for_points .point {
    background: transparent;
  }
}
/* helpful for section styling end  */

/* .examples section styling start  */
.examples_container {
  .row .col .example {
    padding: 1.5rem;
    box-shadow: #0000ff2e 0px 8px 24px;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    border-radius: 1.1rem;
    -webkit-border-radius: 1.1rem;
    -moz-border-radius: 1.1rem;
    -ms-border-radius: 1.1rem;
    -o-border-radius: 1.1rem;

    img {
      width: 3.125rem;
      height: 3.125rem;
    }
  }
}
/* .examples section styling end  */

/* bonus section styling start  */
.bonus_section {
  background: var(--main-color);

  .sub_title_container {
    .bars .bar2 {
      background: var(--main-bg-color);
    }
  }

  > h5 {
    margin-top: 0.6rem;
    font-weight: 500;
  }
  .bonus_cards_container {
    width: 60%;
  }
}

.bonus_cards_container .Card {
  background: #ffffff41;
  column-gap: 2rem;
  border-radius: 1.3rem;
  -webkit-border-radius: 1.3rem;
  -moz-border-radius: 1.3rem;
  -ms-border-radius: 1.3rem;
  -o-border-radius: 1.3rem;

  .sr_number h2 {
    font-size: 3.5rem;
    font-weight: bold;
  }

  .card_body .card_title {
    font-weight: 600;
  }
}
/* bonus section styling end  */

/* trainers section styling start  */
.trainer_details {
  background: var(--secodary-bg-color);
  padding: 2rem;
  border-radius: 1.3rem;
  -webkit-border-radius: 1.3rem;
  -moz-border-radius: 1.3rem;
  -ms-border-radius: 1.3rem;
  -o-border-radius: 1.3rem;
}

.trainer_details .details_part {
  width: 60%;

  h3 span {
    color: var(--main-color);
  }

  h4 {
    margin-top: 0.8rem;
    font-weight: 600;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: justify;
    margin-top: 1.5rem;
  }
}

.trainer_details .img_part {
  width: 40%;
  background: var(--main-bg-color);
  border-radius: 1.3rem;
  -webkit-border-radius: 1.3rem;
  -moz-border-radius: 1.3rem;
  -ms-border-radius: 1.3rem;
  -o-border-radius: 1.3rem;

  .img_container {
    height: 100%;

    img {
      bottom: 2rem;
      height: 24.188rem;
    }
  }
}
/* trainers section styling end  */

/* recap section styling start  */
.recap_section {
  background: var(--secodary-bg-color);
}

.recap {
  height: 100%;
  background: var(--main-bg-color);
  padding: 1.3rem 1.5rem;
  border-radius: 1.3rem;
  -webkit-border-radius: 1.3rem;
  -moz-border-radius: 1.3rem;
  -ms-border-radius: 1.3rem;
  -o-border-radius: 1.3rem;

  h5 {
    width: 100%;
    line-height: 1.6rem;
    font-weight: 600;
  }

  h2 {
    background: var(--secodary-bg-color);
    margin-top: 0.3rem;
    color: var(--main-color);
    border-radius: 1.3rem;
    -webkit-border-radius: 1.3rem;
    -moz-border-radius: 1.3rem;
    -ms-border-radius: 1.3rem;
    -o-border-radius: 1.3rem;
  }
}

.recap_section .btn_container .button {
  width: 35%;
}

/* recap section styling end  */

/* stories section styling start  */
.stories_section .story_card {
  border: 1.6px solid #a3a3a34a;
  overflow-x: hidden;
  width: 100%;
  img {
    width: 100%;
    height: auto;
  }
}
/* stories section styling end  */

/* guarantee section styling start  */
.guarantee_section {
  background: var(--secodary-bg-color);
}

.img_col {
  .img_container {
    img {
      width: 28.688rem;
    }
  }
}

.detail_col {
  font-size: 1.2rem;

  p:nth-child(3) {
    margin-top: 1.3rem;
    line-height: 1.8rem;
    text-align: justify;
  }

  .btn_container .button {
    width: 50%;
  }
}
/* guarantee section styling end  */

/* FAQ section styling start  */

.accordion-item {
  border: none;
  background: var(--secodary-bg-color);
}

.accordion-header {
  .accordion-button {
    background: var(--secodary-bg-color);
    font-size: 1.188rem;
    font-weight: 600;

    &:focus {
      outline: none !important;
    }
  }
}

.accordion-button:after {
  background-image: url("images/arrow-down-6-circle-svgrepo-com.png") !important;
}
/* FAQ section styling end  */

footer {
  background-color: #1c1c1c;
  padding: 4rem 0;

  img {
    width: 21.875rem;
  }
}

/* offer bar styling start  */
.offer_bar {
  background: var(--main-bg-color);
  width: 100%;
  padding: 0rem 8.5rem;
  position: fixed;
  bottom: 0;
  bottom: -8rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;

  .offer .price {
    h2 {
      color: var(--main-color);
    }
    h5 {
      font-weight: 600;
    }
  }

  .offer p {
    font-size: 1rem;
    font-weight: 500;

    span {
      font-weight: 600;
    }
  }

  .button {
    padding: 0.8rem;
    width: 15%;
  }
}
/* offer bar styling end  */

/* media queries  */

/* screen width <1200px */
@media (width < 1200px) {
  .proposal-part,
  .best_trainers,
  .benifits_section,
  .you_learn_section,
  .process_section,
  .helful_for,
  .examples_section,
  .bonus_section,
  .trainers_section,
  .recap_section,
  .stories_section,
  .guarantee_section,
  .faq_section {
    padding: 4.625rem 1.5rem 2.625rem 1.5rem;
  }

  .proposal-part {
    padding-top: 0;
    padding-bottom: 1.625rem;
  }

  .proposal-part .webinar_details .first_col .img_part {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .componies {
    width: 98%;
  }

  .best_trainers {
    padding-top: 8.25rem;
  }

  .learning_points .row .point {
    height: 100%;
  }

  .stories_section .story_card {
    width: 100%;
  }

  .img_col .img_container img {
    width: 22.875rem;
  }

  .offer_bar {
    padding: 0rem 1.5rem;

    .button {
      width: 18%;
    }
  }
}

/* screen width <992px */
@media (width < 992px) {
  .proposal-part,
  .best_trainers,
  .benifits_section,
  .you_learn_section,
  .process_section,
  .helful_for,
  .examples_section,
  .bonus_section,
  .trainers_section,
  .recap_section,
  .stories_section,
  .guarantee_section,
  .faq_section {
    padding: 4.625rem 1.2rem 2.625rem 1.2rem;
  }

  .proposal-part {
    padding-top: 0;
    padding-bottom: 1.625rem;
  }

  .proposal-part .webinar_details .first_col .img_part img {
    width: 66%;
  }

  .proposal-part .webinar_details .first_col { 
      padding-right: 1rem;
    }

  .proposal-part .webinar_details .second_col {
    padding: 0;
  }

  .best_trainers {
    padding-top: 8.25rem;
  }

  .benifits_section .btn_container .button,
  .benifit_points,
  .helpful_for_points {
    width: 100%;
  }

  .process_section .process_container .row .col {
    .process {
      width: 100%;
    }
  }

  .process_section .btn_container .button {
    width: 100%;
  }

  .process_container .row .col .sub-col .Arrow{
      width: 100%;

      img{
        rotate: 0deg;
      }
    }

  .arrow img {
    display: block;
  }

  .bonus_section .bonus_cards_container {
    width: 100%;
  }

  .trainers_section .trainer_details :where(.details_part, .img_part) {
    width: 100%;

    h3,
    h4 {
      text-align: center;
    }
  }

  .recap_section .btn_container .button {
    width: 45%;
  }

  .detail_col {
    text-align: center;

    p:nth-child(3) {
      text-align: center;
    }
  }

  .offer_bar .button {
    width: 25%;
  }
}

/* screen width <576px */
@media (width < 576px) {
  :root {
    --subheading-font-size: 2rem;
  }

  html {
    font-size: 90%;
  }

  .proposal-part,
  .best_trainers,
  .benifits_section,
  .you_learn_section,
  .process_section,
  .helful_for,
  .examples_section,
  .bonus_section,
  .trainers_section,
  .recap_section,
  .stories_section,
  .guarantee_section,
  .faq_section {
    padding: 4.625rem 1rem 2.625rem 1rem;
  }

  .proposal-part {
    padding-top: 0;
    padding-bottom: 1.625rem;

    .offer_card {
      padding: 1.5rem;
      width: 100%;

      h4 {
        font-size: 1.238rem;
        line-height: 1.6rem;
      }
    }

    .sub_title h4 {
      font-size: 1.1rem;
    }
  }

  .proposal-part .title h2 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .proposal-part .webinar_details .first_col .img_part img {
    width: 100%;
  }

  .swiper-wrapper .swiper-slide {
    width: 80px;
  }

  .best_trainers {
    padding-top: 8.25rem;
  }

  .examples_container .row .col .example {
    padding: 1.5rem 1rem;
    column-gap: 0.8rem;

    img {
      width: 2.525rem;
      height: 2.525rem;
    }

    h5 {
      font-size: 1rem;
    }
  }

  .recap_section .btn_container .button {
    width: 100%;
  }

  .detail_col .btn_container .button {
    width: 100%;
  }

  .offer_bar .button {
    width: 40%;
  }
}

@media (width < 390px){
  html{
    font-size: 80%;
  }
}

@media (width < 350px){
  html{
    font-size: 70%;
  }
}
